body {
    background-color: #121b2f;
    font-family: 'Montserrat', sans-serif;
}
.first
{
/*background-image: url('courses-bg.jpg');*/
height:1200px;
width: 100%;
font-family: 'Montserrat', sans-serif;
position:relative;
z-index: 12;
top: 0;
margin:0;
padding:0;
cursor: pointer;
background-size: cover;
}



a 
{
text-decoration: none;
}

ul 
{
padding: 0px;
margin: 0px;
list-style: none;
}

p 
{
font-size: 13px;
line-height: 22px;
}

/*header*/


@media screen and (max-width: 1050px) 
{
.main-header .logo {
padding-left: 30px;
}

.main-menu {
padding-right: 30px;
}

.main-menu li {
margin-left: 5px;
}
}

.main-header 
{
background-color: rgb(16,28,50);
height: 80px;
position: fixed;
z-index: 12;
width: 100%;
top: 0;
transition: all 0.2s ease-in-out;
height: 80px;  
text-align: center;
line-height: 40px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
font-family: 'Montserrat', sans-serif;
}

.main-header .logo 
{
float: left;
line-height: 80px;
padding-left: 60px;
font-size: 36px;
text-transform: uppercase;
font-weight: 800;
color: #fff;
}

.main-header .logo em 
{
font-style: normal;
color: #f5a425;
}

.main-menu 
{
float: right;
padding-right: 60px;
}

.main-menu li 
{
display: inline-block;
line-height: 79px;
margin-left: 15px;
position: relative;
}

.main-menu li:first-child 
{
margin-left: 0px;
}

.main-menu li a 
{
padding: 10px 15px;
font-size: 13px;
text-transform: uppercase;
letter-spacing: 0.5px;
font-weight: 700;
color: #fff;
border: 2px solid transparent;
transition: all 0.5s;
}



.main-menu li.has-submenu ul li a:after 
{
display: none;
}

.main-menu li .sub-menu 
{
position: absolute;
width: 160px;
background-color: #18233a;
opacity: 0;
visibility: hidden;
transition: all 0.5s;
}

.main-menu li:hover .sub-menu 
{
opacity: 1;
visibility: visible;
}

.main-menu li .sub-menu li 
{
display: block;
line-height: 20px;
margin-left: 0px;
margin-bottom: 15px;
padding-bottom: 15px;
border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child 
{
padding-top: 15px;
}

.main-menu li .sub-menu li:last-child 
{
margin-bottom: 0px;
border-bottom: none;
}

.main-menu li .sub-menu li a 
{
font-size: 12px;
font-weight: 500;
padding: 0px 15px;
letter-spacing: 0.5px;
border: none;
transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover 
{
color: #f5a425;
border: none;
}

.main-nav li:hover a,
.main-nav li.active a 
{
border: 2px solid #f5a425;
}

@media (max-width: 950px) {
.main-nav li:hover a,
.main-nav li.active a {
border: 2px solid transparent;
border-bottom: 1px solid rgba(250,250,250,0.25);
}
}

/* Buttons */

.main-button a 
{
background-color: #f5a425;
color: #fff;
font-size: 13px;
text-transform: uppercase;
letter-spacing: 0.5px;
font-weight: 700;
padding: 12px 20px;
display: inline-block;
outline: none;
}

a.menu-link { display: none; }

@media screen and (max-width: 950px) 
{
a.menu-link {
float: right;
display: block;
font-size: 36px;
color: #fff;
padding-right: 30px;
padding-top: 15px;
}
nav[role="navigation"] {
clear: both;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.js nav[role="navigation"] {
overflow: hidden;
max-height: 0;
}
nav[role="navigation"].active {
max-height: 20em;
height: 20em;
overflow-y: scroll;
}
nav[role="navigation"] ul {
top: 0;
width: 100%;
position: relative;
margin: 0;
padding: 0;
border-top: 1px solid rgba(250,250,250,0.25);
background-color: rgba(22,34,57,0.99);
}
nav[role="navigation"] li a {
display: block;
padding: 15px 0px;
border-bottom: 1px solid rgba(250,250,250,0.25);
text-align: center;
color: #fff;
font-size: 13px;
text-transform: uppercase;
font-weight: 700;
line-height: 1.5;
}
nav[role="navigation"] li:hover a,
nav[role="navigation"] li.active a {
color: #f5a425;
}

@media screen and (min-width: 951px) {
.js nav[role="navigation"] {
max-height: none;
}

nav[role="navigation"] li {
display: inline-block;
margin: 0 0.25em;
}
nav[role="navigation"] li a {
border: 0;
}
}
}
.profile{
   width: 100%;
   height:100px;
   margin-left: auto; 
   margin-right: auto; 
   color:#fff;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   display: block; 
   font-size: xx-large;
   font-size: 50px;
   font-weight: 900;
   font-style: normal;
   padding-top: 90px;
}

em
{
    color:#f5a425 ;
    font-style: normal;
}



img
{
    border-radius: 50%;
    height: 250px; 
    width: 250px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 10px;
}

.learnername
{
    width: 100%;
    height:100px;
    margin-left: auto; 
    margin-right: auto; 
    color:#fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-align: center;
    display: block; 
    font-size: xx-large;
}

.icon
{
    color: chocolate;
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 27.5%;
    margin-left: 25.5%;
}


.container1 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 300px;
    width: auto;
    height: auto;
}

.container1 .box 
{
    position: relative;
    width: calc(300px - 30px);
    height: calc(450px - 30px);
   flex-grow: 0;
   flex-shrink: 0;
    background: rgb(22, 34, 56)    ;
    float :left;
    margin: 15px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    right: auto;
}

.container1 .box .title
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: chocolate;
    transition: 0.5s;
    z-index: 1;
}

.container1 .box .title p
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 35px;
    line-height: 1.6;
    transition: 0.5s;
    color: #fff;
}

.container1 .box:hover .title 
{
    top: 20px;
    left: calc(50% - 15%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container1 .box:hover .title p
{
    font-size: 12px;   
}
 
.container1 .box .content 
{
    position: absolute;
    width: 100%;
    height: calc(100% - 100%);
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    transition: 0.5s;
}

.container1 .box .content p 
{
    color:#fff;
}

.container1 .box .content p:hover 
{
    color:chocolate;
}

.container1 .box .content ul 
{
    top: 125px;
    text-align: center;
    position: relative;
    margin: 0;
    border-top: 1px solid rgba(250,250,250,0.25);  
}

.container1 .box .content ul li
{
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    text-align: center;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
}
   
.second
{
    width: 100%;
    height: 8px;
    background-color:rgb(16,28,50) ;
    text-align: center;  
    color: #ccc;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}



/*.btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin:10px 0;
    opacity: 0.7;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none; /* remove underline from anchors 
    background-color: rgb(197, 0, 0);
    color: #fff
    } */


.right,  .left{
    background-color: #D2691E;
    display: inline-block;
    color: #ddd;
    text-decoration: none;
    text-align: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 0.4;
}

.left{float: left; position: absolute;  top: 400px; left: 200px; padding: 10px 10px 10px 8px; }
.right {float: right; position: absolute;  top: 400px; right: 200px; padding: 10px 10px 10px 10px;}
.right:hover, .left:hover {text-decoration: none; color: #ddd;}
.ccc {height: 1200px;}

.imm {margin-top: 100px}

