{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- <meta name="author" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block css %}
    {% endblock css %}

    {% block title%}
    {% endblock title%}
</head>

<body>

    <header class="main-header clearfix" role="header">
        <div class="logo">
            <em>SAHELHA</em>.COM
        </div>
   
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="{% url 'tracks:track_list' %}">Home</a></li>
                <li class="has-submenu"><a href="{% url 'tracks:track_list' %">About Us</a></li>
                <li><a href="{% url 'tracks:track_list' %}">Tracks</a></li>
                {%if request.user.is_authenticated%}
                <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                {%else%}
                <li><a href="{% url 'login' %}">Login</a></li>
                {%endif%}
            </ul>
        </nav>
    </header>

    {% block body %}
    {% endblock body %}


    <section class="section6">
    
    <div class="footer">
    <footer>&copy; Copyright Sahelha Team 2020</footer>
    </div>

    </section>

</body>
</html>