{%extends 'base.html'%}
{% load static %}

{% block css %} 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock css %}   

{% block title%}
    <title>{{track.title}}</title>
{% endblock title%}
 
{% block body %}    
<!--first page-->
   
    <div>
     <img src="{{track.background_in_detail.url}}">
      <div class="parallax-content baner-content" id="home">
        <div class="container">
          <div class="text-content">
            <h1>{{track.title}}</h1><br>
              <div>
                {{track.description_in_detail|linebreaks}}
              </div>
          </div>
        </div>
      </div>
    </div>


<!--second page-->
  <div class="mydiv">   
    <div class="container1">

      {% if courses.has_other_pages %}
        {% if courses.has_previous %}
          <a href="?page={{courses.previous_page_number}}" class="left">&laquo;</a>
        {% endif %}
      {% endif %}

      {% for course in courses %}
        <div class="box">
          <div class="title">
              <p>{{course.title}}</p>
          </div> 
          <div class="content">
              <ul>
                <li><a href="{{course.firstcourse_url}}"><p>{{course.firstcourse_title}}</p></a></li>
                <li><a href="{{course.secondcourse_url}}"><p>{{course.secondcourse_title}}</p></a></li>
                {% if course.thirdcourse_title != null %}
                <li><a href="{{course.thirdcourse_url}}"><p>{{course.thirdcourse_title}}</p></a></li>
                {% endif %}
              </ul>
          </div>
        </div>
      {% endfor %}
    
      {% if courses.has_other_pages %}
        {% if courses.has_next %}
          <a href="?page={{courses.next_page_number}}" class="right">&raquo;</a>
        {% endif %}
      {% endif %}

    </div>
  </div>
  <div class="ddd"> </div>
{% endblock body %}
    
        