{% extends 'base.html'%}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
      rel="stylesheet">
{% endblock css %}

{% block title%}
  <title>SAHELHA.COM</title>
{% endblock title%}

{% block body%}

  <section class="section5" style="background-image:url('{% static 'img/courses-bg.jpg' %}');">

      <div class="Login">
          <div class="myform">
          
                <div class="row">
                  <div class="col">
                    <a href="#" class="fb btn">
                      <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    <a href="#" class="twitter btn">
                      <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                    </a>
                    <a href="#" class="google btn">
                      <i class="fa fa-google fa-fw"></i> Login with Google+
                    </a>
                  {%block content%}

                  
                  {%endblock content%}
                </div>
                
                </div>
              </form>
            </div>
                
      </div>
    
  </section>
{% endblock body%}
